body {
  font-family: helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.background {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  color: white;
  text-align: center;
}

.background h1 {
font-size: 70px;
}

.background h2 {
  font-size: 18px;

}
.nav-btn {
  font-size: 18px;
  color: white;
}

.supporting {
  text-align: center;
}

.supporting h2 {
  font-size: 32px;
}

.supporting h3 {
  font-size: 23px;
}
.footer {
  text-align: left;
  background-color: dimgrey;
  color: white;
  font-size: 11px;
}
